
@font-face {
font-family: 'SFRounded';
src: local('SFRounded Ultralight_8'), local('SFRounded-Ultralight_8'),
    url('SFRounded-Ultralight_8.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFRounded';
src: local('SFRounded Ultralight_7'), local('SFRounded-Ultralight_7'),
    url('SFRounded-Ultralight_7.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFRounded';
src: local('SFRounded Ultralight_6'), local('SFRounded-Ultralight_6'),
    url('SFRounded-Ultralight_6.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFRounded';
src: local('SFRounded Ultralight_5'), local('SFRounded-Ultralight_5'),
    url('SFRounded-Ultralight_5.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFRounded';
src: local('SFRounded Ultralight_4'), local('SFRounded-Ultralight_4'),
    url('SFRounded-Ultralight_4.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFRounded';
src: local('SFRounded Ultralight_3'), local('SFRounded-Ultralight_3'),
    url('SFRounded-Ultralight_3.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFRounded';
src: local('SFRounded Ultralight_2'), local('SFRounded-Ultralight_2'),
    url('SFRounded-Ultralight_2.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFRounded';
src: local('SFRounded Ultralight_1'), local('SFRounded-Ultralight_1'),
    url('SFRounded-Ultralight_1.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFRounded';
src: local('SFRounded Ultralight'), local('SFRounded-Ultralight'),
    url('SFRounded-Ultralight.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFProText';
src: local('SFProText Ultralight_8'), local('SFProText-Ultralight_8'),
    url('SFProText-Ultralight_8.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFProText';
src: local('SFProText Ultralight_7'), local('SFProText-Ultralight_7'),
    url('SFProText-Ultralight_7.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFProText';
src: local('SFProText Ultralight_6'), local('SFProText-Ultralight_6'),
    url('SFProText-Ultralight_6.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFProText';
src: local('SFProText Ultralight_5'), local('SFProText-Ultralight_5'),
    url('SFProText-Ultralight_5.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFProText';
src: local('SFProText Ultralight_4'), local('SFProText-Ultralight_4'),
    url('SFProText-Ultralight_4.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFProText';
src: local('SFProText Ultralight_3'), local('SFProText-Ultralight_3'),
    url('SFProText-Ultralight_3.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFProText';
src: local('SFProText Ultralight_2'), local('SFProText-Ultralight_2'),
    url('SFProText-Ultralight_2.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFProText';
src: local('SFProText Ultralight_1'), local('SFProText-Ultralight_1'),
    url('SFProText-Ultralight_1.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFProText';
src: local('SFProText Ultralight Italic_8'), local('SFProText-UltralightItalic_8'),
    url('SFProText-UltralightItalic_8.ttf') format('truetype');
font-weight: 100;
font-style: italic;
}
    
@font-face {
font-family: 'SFProText';
src: local('SFProText Ultralight Italic_7'), local('SFProText-UltralightItalic_7'),
    url('SFProText-UltralightItalic_7.ttf') format('truetype');
font-weight: 100;
font-style: italic;
}
    
@font-face {
font-family: 'SFProText';
src: local('SFProText Ultralight Italic_6'), local('SFProText-UltralightItalic_6'),
    url('SFProText-UltralightItalic_6.ttf') format('truetype');
font-weight: 100;
font-style: italic;
}
    
@font-face {
font-family: 'SFProText';
src: local('SFProText Ultralight Italic_5'), local('SFProText-UltralightItalic_5'),
    url('SFProText-UltralightItalic_5.ttf') format('truetype');
font-weight: 100;
font-style: italic;
}
    
@font-face {
font-family: 'SFProText';
src: local('SFProText Ultralight Italic_4'), local('SFProText-UltralightItalic_4'),
    url('SFProText-UltralightItalic_4.ttf') format('truetype');
font-weight: 100;
font-style: italic;
}
    
@font-face {
font-family: 'SFProText';
src: local('SFProText Ultralight Italic_3'), local('SFProText-UltralightItalic_3'),
    url('SFProText-UltralightItalic_3.ttf') format('truetype');
font-weight: 100;
font-style: italic;
}
    
@font-face {
font-family: 'SFProText';
src: local('SFProText Ultralight Italic_2'), local('SFProText-UltralightItalic_2'),
    url('SFProText-UltralightItalic_2.ttf') format('truetype');
font-weight: 100;
font-style: italic;
}
    
@font-face {
font-family: 'SFProText';
src: local('SFProText Ultralight Italic_1'), local('SFProText-UltralightItalic_1'),
    url('SFProText-UltralightItalic_1.ttf') format('truetype');
font-weight: 100;
font-style: italic;
}
    
@font-face {
font-family: 'SFProText';
src: local('SFProText Ultralight Italic'), local('SFProText-UltralightItalic'),
    url('SFProText-UltralightItalic.ttf') format('truetype');
font-weight: 100;
font-style: italic;
}
    
@font-face {
font-family: 'SFProText';
src: local('SFProText Ultralight'), local('SFProText-Ultralight'),
    url('SFProText-Ultralight.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SFProDisplay Ultralight_8'), local('SFProDisplay-Ultralight_8'),
    url('SFProDisplay-Ultralight_8.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SFProDisplay Ultralight_7'), local('SFProDisplay-Ultralight_7'),
    url('SFProDisplay-Ultralight_7.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SFProDisplay Ultralight_6'), local('SFProDisplay-Ultralight_6'),
    url('SFProDisplay-Ultralight_6.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SFProDisplay Ultralight_5'), local('SFProDisplay-Ultralight_5'),
    url('SFProDisplay-Ultralight_5.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SFProDisplay Ultralight_4'), local('SFProDisplay-Ultralight_4'),
    url('SFProDisplay-Ultralight_4.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SFProDisplay Ultralight_3'), local('SFProDisplay-Ultralight_3'),
    url('SFProDisplay-Ultralight_3.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SFProDisplay Ultralight_2'), local('SFProDisplay-Ultralight_2'),
    url('SFProDisplay-Ultralight_2.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SFProDisplay Ultralight_1'), local('SFProDisplay-Ultralight_1'),
    url('SFProDisplay-Ultralight_1.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SFProDisplay Ultralight Italic_8'), local('SFProDisplay-UltralightItalic_8'),
    url('SFProDisplay-UltralightItalic_8.ttf') format('truetype');
font-weight: 100;
font-style: italic;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SFProDisplay Ultralight Italic_7'), local('SFProDisplay-UltralightItalic_7'),
    url('SFProDisplay-UltralightItalic_7.ttf') format('truetype');
font-weight: 100;
font-style: italic;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SFProDisplay Ultralight Italic_6'), local('SFProDisplay-UltralightItalic_6'),
    url('SFProDisplay-UltralightItalic_6.ttf') format('truetype');
font-weight: 100;
font-style: italic;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SFProDisplay Ultralight Italic_5'), local('SFProDisplay-UltralightItalic_5'),
    url('SFProDisplay-UltralightItalic_5.ttf') format('truetype');
font-weight: 100;
font-style: italic;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SFProDisplay Ultralight Italic_4'), local('SFProDisplay-UltralightItalic_4'),
    url('SFProDisplay-UltralightItalic_4.ttf') format('truetype');
font-weight: 100;
font-style: italic;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SFProDisplay Ultralight Italic_3'), local('SFProDisplay-UltralightItalic_3'),
    url('SFProDisplay-UltralightItalic_3.ttf') format('truetype');
font-weight: 100;
font-style: italic;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SFProDisplay Ultralight Italic_2'), local('SFProDisplay-UltralightItalic_2'),
    url('SFProDisplay-UltralightItalic_2.ttf') format('truetype');
font-weight: 100;
font-style: italic;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SFProDisplay Ultralight Italic_1'), local('SFProDisplay-UltralightItalic_1'),
    url('SFProDisplay-UltralightItalic_1.ttf') format('truetype');
font-weight: 100;
font-style: italic;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SFProDisplay Ultralight Italic'), local('SFProDisplay-UltralightItalic'),
    url('SFProDisplay-UltralightItalic.ttf') format('truetype');
font-weight: 100;
font-style: italic;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SFProDisplay Ultralight'), local('SFProDisplay-Ultralight'),
    url('SFProDisplay-Ultralight.ttf') format('truetype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFProText';
src: local('SF Pro Text Ultralight Italic'), local('SFProText-UltralightItalic'),
    url('SF-Pro-Text-UltralightItalic.otf') format('opentype');
font-weight: 100;
font-style: italic;
}
    
@font-face {
font-family: 'SFProText';
src: local('SF Pro Text Ultralight'), local('SFProText-Ultralight'),
    url('SF-Pro-Text-Ultralight.otf') format('opentype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFProText';
src: local('SF Pro Text Thin Italic'), local('SFProText-ThinItalic'),
    url('SF-Pro-Text-ThinItalic.otf') format('opentype');
font-weight: 200;
font-style: italic;
}
    
@font-face {
font-family: 'SFProText';
src: local('SF Pro Text Thin'), local('SFProText-Thin'),
    url('SF-Pro-Text-Thin.otf') format('opentype');
font-weight: 200;
font-style: normal;
}
    
@font-face {
font-family: 'SFProText';
src: local('SF Pro Text Semibold Italic'), local('SFProText-SemiboldItalic'),
    url('SF-Pro-Text-SemiboldItalic.otf') format('opentype');
font-weight: 600;
font-style: italic;
}
    
@font-face {
font-family: 'SFProText';
src: local('SF Pro Text Semibold'), local('SFProText-Semibold'),
    url('SF-Pro-Text-Semibold.otf') format('opentype');
font-weight: 600;
font-style: normal;
}
    
@font-face {
font-family: 'SFProText';
src: local('SF Pro Text Regular Italic'), local('SFProText-RegularItalic'),
    url('SF-Pro-Text-RegularItalic.otf') format('opentype');
font-weight: 400;
font-style: italic;
}
    
@font-face {
font-family: 'SFProText';
src: local('SF Pro Text Regular'), local('SFProText-Regular'),
    url('SF-Pro-Text-Regular.otf') format('opentype');
font-weight: 400;
font-style: normal;
}
    
@font-face {
font-family: 'SFProText';
src: local('SF Pro Text Medium Italic'), local('SFProText-MediumItalic'),
    url('SF-Pro-Text-MediumItalic.otf') format('opentype');
font-weight: 500;
font-style: italic;
}
    
@font-face {
font-family: 'SFProText';
src: local('SF Pro Text Medium'), local('SFProText-Medium'),
    url('SF-Pro-Text-Medium.otf') format('opentype');
font-weight: 500;
font-style: normal;
}
    
@font-face {
font-family: 'SFProText';
src: local('SF Pro Text Light Italic'), local('SFProText-LightItalic'),
    url('SF-Pro-Text-LightItalic.otf') format('opentype');
font-weight: 300;
font-style: italic;
}
    
@font-face {
font-family: 'SFProText';
src: local('SF Pro Text Light'), local('SFProText-Light'),
    url('SF-Pro-Text-Light.otf') format('opentype');
font-weight: 300;
font-style: normal;
}
    
@font-face {
font-family: 'SFProText';
src: local('SF Pro Text Heavy Italic'), local('SFProText-HeavyItalic'),
    url('SF-Pro-Text-HeavyItalic.otf') format('opentype');
font-weight: 800;
font-style: italic;
}
    
@font-face {
font-family: 'SFProText';
src: local('SF Pro Text Heavy'), local('SFProText-Heavy'),
    url('SF-Pro-Text-Heavy.otf') format('opentype');
font-weight: 800;
font-style: normal;
}
    
@font-face {
font-family: 'SFProText';
src: local('SF Pro Text Bold Italic'), local('SFProText-BoldItalic'),
    url('SF-Pro-Text-BoldItalic.otf') format('opentype');
font-weight: 700;
font-style: italic;
}
    
@font-face {
font-family: 'SFProText';
src: local('SF Pro Text Bold'), local('SFProText-Bold'),
    url('SF-Pro-Text-Bold.otf') format('opentype');
font-weight: 700;
font-style: normal;
}
    
@font-face {
font-family: 'SFProText';
src: local('SF Pro Text Black Italic'), local('SFProText-BlackItalic'),
    url('SF-Pro-Text-BlackItalic.otf') format('opentype');
font-weight: 900;
font-style: italic;
}
    
@font-face {
font-family: 'SFProText';
src: local('SF Pro Text Black'), local('SFProText-Black'),
    url('SF-Pro-Text-Black.otf') format('opentype');
font-weight: 900;
font-style: normal;
}
    
@font-face {
font-family: 'SFProRounded';
src: local('SF Pro Rounded Ultralight'), local('SFProRounded-Ultralight'),
    url('SF-Pro-Rounded-Ultralight.otf') format('opentype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFProRounded';
src: local('SF Pro Rounded Thin'), local('SFProRounded-Thin'),
    url('SF-Pro-Rounded-Thin.otf') format('opentype');
font-weight: 200;
font-style: normal;
}
    
@font-face {
font-family: 'SFProRounded';
src: local('SF Pro Rounded Semibold'), local('SFProRounded-Semibold'),
    url('SF-Pro-Rounded-Semibold.otf') format('opentype');
font-weight: 600;
font-style: normal;
}
    
@font-face {
font-family: 'SFProRounded';
src: local('SF Pro Rounded Regular'), local('SFProRounded-Regular'),
    url('SF-Pro-Rounded-Regular.otf') format('opentype');
font-weight: 400;
font-style: normal;
}
    
@font-face {
font-family: 'SFProRounded';
src: local('SF Pro Rounded Medium'), local('SFProRounded-Medium'),
    url('SF-Pro-Rounded-Medium.otf') format('opentype');
font-weight: 500;
font-style: normal;
}
    
@font-face {
font-family: 'SFProRounded';
src: local('SF Pro Rounded Light'), local('SFProRounded-Light'),
    url('SF-Pro-Rounded-Light.otf') format('opentype');
font-weight: 300;
font-style: normal;
}
    
@font-face {
font-family: 'SFProRounded';
src: local('SF Pro Rounded Heavy'), local('SFProRounded-Heavy'),
    url('SF-Pro-Rounded-Heavy.otf') format('opentype');
font-weight: 800;
font-style: normal;
}
    
@font-face {
font-family: 'SFProRounded';
src: local('SF Pro Rounded Bold'), local('SFProRounded-Bold'),
    url('SF-Pro-Rounded-Bold.otf') format('opentype');
font-weight: 700;
font-style: normal;
}
    
@font-face {
font-family: 'SFProRounded';
src: local('SF Pro Rounded Black'), local('SFProRounded-Black'),
    url('SF-Pro-Rounded-Black.otf') format('opentype');
font-weight: 900;
font-style: normal;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SF Pro Display Ultralight Italic'), local('SFProDisplay-UltralightItalic'),
    url('SF-Pro-Display-UltralightItalic.otf') format('opentype');
font-weight: 100;
font-style: italic;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SF Pro Display Ultralight'), local('SFProDisplay-Ultralight'),
    url('SF-Pro-Display-Ultralight.otf') format('opentype');
font-weight: 100;
font-style: normal;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SF Pro Display Thin Italic'), local('SFProDisplay-ThinItalic'),
    url('SF-Pro-Display-ThinItalic.otf') format('opentype');
font-weight: 200;
font-style: italic;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SF Pro Display Thin'), local('SFProDisplay-Thin'),
    url('SF-Pro-Display-Thin.otf') format('opentype');
font-weight: 200;
font-style: normal;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SF Pro Display Semibold Italic'), local('SFProDisplay-SemiboldItalic'),
    url('SF-Pro-Display-SemiboldItalic.otf') format('opentype');
font-weight: 600;
font-style: italic;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SF Pro Display Semibold'), local('SFProDisplay-Semibold'),
    url('SF-Pro-Display-Semibold.otf') format('opentype');
font-weight: 600;
font-style: normal;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SF Pro Display Regular Italic'), local('SFProDisplay-RegularItalic'),
    url('SF-Pro-Display-RegularItalic.otf') format('opentype');
font-weight: 400;
font-style: italic;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SF Pro Display Regular'), local('SFProDisplay-Regular'),
    url('SF-Pro-Display-Regular.otf') format('opentype');
font-weight: 400;
font-style: normal;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SF Pro Display Medium Italic'), local('SFProDisplay-MediumItalic'),
    url('SF-Pro-Display-MediumItalic.otf') format('opentype');
font-weight: 500;
font-style: italic;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SF Pro Display Medium'), local('SFProDisplay-Medium'),
    url('SF-Pro-Display-Medium.otf') format('opentype');
font-weight: 500;
font-style: normal;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SF Pro Display Light Italic'), local('SFProDisplay-LightItalic'),
    url('SF-Pro-Display-LightItalic.otf') format('opentype');
font-weight: 300;
font-style: italic;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SF Pro Display Light'), local('SFProDisplay-Light'),
    url('SF-Pro-Display-Light.otf') format('opentype');
font-weight: 300;
font-style: normal;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SF Pro Display Heavy Italic'), local('SFProDisplay-HeavyItalic'),
    url('SF-Pro-Display-HeavyItalic.otf') format('opentype');
font-weight: 800;
font-style: italic;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SF Pro Display Heavy'), local('SFProDisplay-Heavy'),
    url('SF-Pro-Display-Heavy.otf') format('opentype');
font-weight: 800;
font-style: normal;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SF Pro Display Bold Italic'), local('SFProDisplay-BoldItalic'),
    url('SF-Pro-Display-BoldItalic.otf') format('opentype');
font-weight: 700;
font-style: italic;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SF Pro Display Bold'), local('SFProDisplay-Bold'),
    url('SF-Pro-Display-Bold.otf') format('opentype');
font-weight: 700;
font-style: normal;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SF Pro Display Black Italic'), local('SFProDisplay-BlackItalic'),
    url('SF-Pro-Display-BlackItalic.otf') format('opentype');
font-weight: 900;
font-style: italic;
}
    
@font-face {
font-family: 'SFProDisplay';
src: local('SF Pro Display Black'), local('SFProDisplay-Black'),
    url('SF-Pro-Display-Black.otf') format('opentype');
font-weight: 900;
font-style: normal;
}
    